
<div class="landingpage">
<div class="logo">
      <img style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/logo.png" alt="" width="209" height="209">
</div>
<p></p>
<hr>
<p>
    <a href="maintenance"><img  style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/aircraft_maintenance.png" alt="" width="270" height="48">
    </a>
</p>
<hr>
<p>
    <a href="avionics"><img style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/aircraft_avionics.png" alt="" width="270" height="48">
    </a>
</p>
<hr>
<p>
    <a href="parts"><img style="display: block; margin-left: auto; margin-right: auto;" src="assets/img/aircraft_parts.png" alt="" width="270" height="48">
    </a>
</p>
<hr>
</div>
